*{
	margin: 0;
	padding: 0;
	box-sizing:border-box;
	font-family: arial;

}
body{
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../images/post_tasks.jpg);
	background-repeat: no-repeat;

}

nav{
	
	width: 100%;
	height: 50px;
	background: linear-gradient(-45deg, #D60102 0%, #000000 60%);
	color: white;
	display: flex;
    justify-content: space-between;
    align-items: center;
	font-family: arial;
    font-size: 16px;
    font-weight: bold;

}
nav .logo{
	width: 25%;
	text-align: center;
	font-size: 21px;
	color: #fff;
	


}
nav .menu{
	width: 40%;
	display: flex;
	

	margin-right: 40px;


}
nav .menu a{
	margin: 10px;
	text-decoration: none;
	color: white;
	float: right;
	padding: 0px 8px 0 8px;


}

h1{
	text-align: center;
	color: #228C22;
	font-size: 25px;
	margin: 20px;
}
.task_form{
	height: auto;
	width: 800px;
	float: right;
	background-color: #fff;	
	margin: 30px;
	margin-right: 250px;
	color:#000;
	border-style: inset;
	border-radius: 15px;
	
}
.tab{
	margin: 10px;
	padding: 3px;
	margin-left: 50px;
}
.tab input{
	width: 500px;
	height: 30px;
	margin: 0px;
	padding: 5px;
	
}
.tab textarea{
	margin-top: 15px;
	width: 500px;

}
select{
	width: 428px;
}
.sub-btn{
	float: right;
	width: 200px;
	height: 50px;
	margin-right: 50px;
	color: #fff;
	background-color: #228C22;
	border-radius: 5px;
}



