*{
	margin: 0;
	padding: 0;
	box-sizing:border-box;
	font-family: arial;
}
header{
	width: 100%;
	height: 70vh;
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../images/icon1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	


}
nav{
	width: 100%;
	height: 10vh;
	background: transparent;
	color: white;
	display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: arial;
    font-size: 1em;
    font-weight: bold;
}
nav .logo{
	width: 25%;
	text-align: center;
	font-size: 1.3em;
}
nav .menu{
	width: 65%;
	display: flex;
	justify-content: space-around;
}
nav .menu a{
	margin: 3px;
	text-decoration: none;
	color: white;
}
nav .menu a:first-child{
	color: #38b44e;
}
main{
	width: 100%;
	height: 60vh;
	display: flex;
	justify-content: center;
    align-items: center;
    text-align: center;
    color: white;


}
section{

}
section h1{
	color: #fff;
	font-size: 35px;
	font-weight: 200;
	letter-spacing: 3px;
	

}
section p{
	font-size: 25px;
	padding-left: 10px;
	word-spacing: 2px;
	margin-bottom: 25px;
	
}
section a{
	padding: 12px 30px;
	border-radius: 4px;
	outline: none;
	font-size: 13px;
	text-decoration: none;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-weight: 700;
	transition: all .5s ease;
}
section .btnone{
	color: #fff!important;
    background: #38b44e!important;
    
}
.btnone:hover{
	color: #000!important;
    background: #fff!important;

}
.btntwo:hover{
	color: #fff!important;
    background: #38b44e!important;

}
section .btntwo{
	color: #000!important;
    background: #fff!important;
}
/* end of header*/
.body-box{
	width: 100%;
	
}
 h3{
	color: green;
	padding-left: 150px;
	padding-top: 20px;
	font-size: 25px;
}
.categories-container{
	margin-left: 120px;
	margin-top: 20px;
	margin-right: 10px;
	width: 1000px;
	display: flex;

	
}
.column img{
    position: center;
    width:90px;
    padding: 5px;
    

}
.column{
	 width: 110px;
	 justify-content: center;
	 display: inline-block;
	 align-items: center;
	 display: flex;
	 padding: 5px;

}
.column p{
    text-align: center;
    text-decoration: none;
    list-style: none;
    font-size: .8em;
  	color: #000;
  	
}
.container{
	background: transparent;
}
.row{
	width: inherit;
	margin-left: 120px;
	margin-right: 80px;

}
.row p{
	font-family: inherit;
	font-size: 18px;
	text-align: justify;
	color: #000;
	margin-top: 20px;
	display: flex;
}
.row2{
	width: inherit;
	
	display: flex;
	align-items:center;

}
#col{
   
    width: 40%;
    margin-left: 90px;
    display: flex-inline;
}
#col  img{
    
    width: 200px;
    margin-left: 150px;
    display: flex;
    
}
#col a {
     
    text-decoration: none;

    }
#col h2{
    text-align: center;
    font-size: 20px;
    
    color:#38b44e ;
    
}
#des{
    font-size: 15px;
    font-family: arial;
    color: #000;
    text-align: center;
    

}
/*Footer*/
.navbar-footer{
	
	width:100% ;
	display: felx;
	background: grey;
}
.row3{
	display: flex;
	width: 1000px;
	margin-left: 120px;
	margin-right: 10px;
	margin-top: 50px;
	
	
	

}
.col2{
	width: 33.33%;
   	margin-top: 30px;
    margin-right: 9px;
    margin-bottom: 9px;
    display: flex-inline;
    
    float: left;
    padding: 10px;
   	
	

}
.col2 h3{
 	font-size: 20px;
 	padding:5px 25px 5px 5px;
 	color: #38b44e;
 	font-family: inherit;
 }
.col2 ul{
 	
 	
    list-style: none;
    


 }
 .col2 ul li a{
 	text-align: center;
 	text-decoration: none;
 	color: white;
 	font-size: 15px;
 	padding-left: 10px;
    
 }
 .col2 ul li a:hover{
 	color: #216a94;
    text-decoration: underline;
 }
 .copy{
 	line-height: 30px;
    background: #d7e1e3;
    min-height: 0;
    margin: 0;
    text-align: center;
 }
